//
// カバーのスタイル
//


// トップページカバー
.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //height: 60rem;
    // padding-top: 3rem;
    color: $white;
    // background-image: url("../images/carousel/sp_slide_1.jpg");
    background-size: cover;
    background-position: center;

    
    @media (min-width: 769px) {
        // height: 30px;
        background-position: center center;
    }

    }
    .cover-title {
        z-index: 100;
        position:absolute;
        font-size: 3.5rem;
        text-align: center; 
        margin-top: -4rem;
         @media (min-width: 769px) {
         font-size: 8rem;
    }
        
}

    .cover-discription {
        z-index: 100;
        padding-top: 40px;
        position:absolute;
        font-size: 2.5rem;
        text-align: center;
        
        @media (min-width: 769px) {
         font-size: 4.8rem;
         padding-top: 60px;
    }
}



.carousel{
    width: 100%;
    margin: 0 auto;
    height: auto;
    
}









// 下層ページカバー
.sub-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    padding-top: 8rem;
    color: $white;

    background-size: cover;
    background-position: center;
    @media (min-width: 769px) {
        height: 33rem;
    }
}

.sub-cover-info {
    background-image: url("../images/info/sub-news.jpg");
}
.sub-cover-about {
    background-image: url("../images/about/sub-about.jpeg");
}
.sub-cover-menu {
    background-image: url("../images/menu/sub-menu.jpg");
} 

.sub-cover-title {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 700;
    @media (min-width: 769px) {
        font-size: 8rem;
    }
}
